

<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ClassPortal</title>
  </head>
  <body>


    <div class="center jumbotron">
      <h1>Class Portal</h1>
      <h2>
        This is the home page for the ClassPortal application.
      </h2>
  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</body>
</html>
