<h1>Send Message</h1>
Select a user.

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
  </tr>
  </thead>


<tbody>
<% @contacts.each do |c| %>
    <% if @current_user.id!=c.id %>
  <tr>
    <td>

      <%=  link_to c.name,{action: 'chatwindow', id:c} %>

      </td>
    <td>
      <%= c.email %>
    </td>
  </tr>
    <% end %>
<% end %>
  </tbody>
</table>
