</br>
</br>
</br>
</br>


<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome </strong>
<strong>  <%= @user.name %> </strong>
</p>

<p>
  <strong>The registered email id is:</strong>
<strong>  <%= @user.email %></strong>
</p>

<p>
  <strong>Thank you for signing up!</strong></br>
  <strong>Login and get going!</strong>
</p>
<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
